<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>

    <!-- Link to JavaScript -->
    <script src="js/pizza.js" defer></script>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza_icon.png">

    <!-- Stylesheet  -->
    <link rel="Stylesheet" href="styles/pizza-styles.css">
</head>
<body>
    <div id="main">
        <header>
            <img src="images/pizza-guy.jpeg" alt="Papa's pizza guy">
            <h1>Papa's Pizza</h1>
            <p id="tag-line">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>Papa's Pizza serves up fresh, handcrafted pizzas with bold flavors and a warm, family-friendly vibe.</p>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </header>
        
        <h1>Thank you for your order!</h1>
    </div>
</body>
</html>